:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  /*   background-color: #242424;
 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

li {
  list-style: none;
  padding: 4px 15px;
  outline: 2px solid white;
}
li:hover {
  cursor: pointer;
  background-color: white;
}
li:hover a {
  color: #242424;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* INTRO */

.intro-wrapper {
  padding: 1rem 2rem;
  background-color: #535bf2;
  display: flex;
}

.intro {
  color: #ffffff;
  width: 100%;
  position: relative;
}

.intro-content {
  margin: 0 auto 30px;
  text-align: center;
}

.intro-content img {
  width: 22px;
  height: 38px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
}

.manu-logo {
  font-size: 2rem;
  margin: 0;
}

.manu-logo:hover {
  cursor: pointer;
}

.manu-logo::first-letter {
  color: orange;
  font-weight: 600;
}

.manu-logo span {
  color: #b5b5b5;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Footer */

footer {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.devicon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1;
}

.github-link:hover {
  transform: scale(1.2);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* SIGN IN FORM */

.wrapper {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo-wrapper {
  background-color: #535bf2;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 20px;
  margin-bottom: 4rem;
}

form#sign-in {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 350px;
  padding: 2rem;
  border-radius: 18px;
}

#sign-in h1 {
  color: white;
  font-size: 1.82rem;
}

#sign-in button[type="submit"] {
  color: #1a1a1a;
  background: white;
}

#sign-in input {
  border: 0;
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: #494949;
  color: #e1e1e1;
  padding: 1.1rem 2rem;
  margin: 1.72rem 10px;
}

#sign-in input:focus,
#sign-in input:focus-visible {
  outline: 2px solid white;
}
